<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-decoupling-component></app-decoupling-component>
        </div>
        <div class="col-md-6">
          <app-inc></app-inc>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>{{name}}</p>
            <p>{{name}}</p>
            <button [disabled]="isEnabled">isEnabled</button>
            <!-- <div class="app-type-call"></div> -->
            <div app-type-call></div>

            <input type='text' (input)="onInputChnaged($event)" />
            <br />
            <input type="text" [(ngModel)]="name" />
            <br />
        </div>
        <div class="col-md-6">
            <app-create-register-form></app-create-register-form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h5>ngSwitch</h5>
            <div [ngSwitch]="switchProperty">

                <app-switch-case1 *ngSwitchCase="'a'"></app-switch-case1>
                <app-switch-case2 *ngSwitchCase="'b'"></app-switch-case2>
                <app-switch-case3 *ngSwitchCase="'c'"></app-switch-case3>
            </div>

        </div>

        <div class="col-md-6">
            <h5>onStarClicked</h5>
            <app-star *ngFor="let item of ratings" [rating]=item (starClicked)="onStarClicked($event)"></app-star>

        </div>
    </div>


    <!-- <app-star [rating]=3.5></app-star>
        <app-star [rating]=15></app-star>
        <app-star [rating]=5></app-star>
        <app-star [rating]=3></app-star>
        <app-star [rating]=0.7></app-star> -->


</div>